
[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# ReSharper properties
resharper_allow_comment_after_lbrace = true
resharper_autodetect_indent_settings = true
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_inside_namespace = 1
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_brace_style = end_of_line
resharper_csharp_empty_block_style = together
resharper_csharp_indent_size = 2
resharper_csharp_naming_rule.enum_member = AaBb_AaBb
resharper_csharp_naming_rule.property = aaBb
resharper_csharp_naming_rule.public_fields = aaBb
resharper_csharp_tab_width = 2
resharper_enforce_line_ending_style = true
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_indent_preprocessor_directives = normal
resharper_instance_members_qualify_members = none, field, property, event, method
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_method_attribute_on_same_line = if_owner_is_single_line
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

# Microsoft .NET properties
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.property_rule.import_to_resharper = True
dotnet_naming_rule.property_rule.resharper_description = Property
dotnet_naming_rule.property_rule.resharper_guid = fe84a1c9-8bb9-4211-b2d0-7f48fb42b6d7
dotnet_naming_rule.property_rule.severity = warning
dotnet_naming_rule.property_rule.style = lower_camel_case_style
dotnet_naming_rule.property_rule.symbols = property_symbols
dotnet_naming_rule.property_rule_1.import_to_resharper = as_predefined
dotnet_naming_rule.property_rule_1.severity = warning
dotnet_naming_rule.property_rule_1.style = lower_camel_case_style
dotnet_naming_rule.property_rule_1.symbols = property_symbols_1
dotnet_naming_rule.public_fields_instance_rule.import_to_resharper = True
dotnet_naming_rule.public_fields_instance_rule.resharper_description = PublicFieldsInstance
dotnet_naming_rule.public_fields_instance_rule.resharper_guid = 5faa4372-3ca8-4815-bc22-2e25b6a3b847
dotnet_naming_rule.public_fields_instance_rule.severity = warning
dotnet_naming_rule.public_fields_instance_rule.style = lower_camel_case_style
dotnet_naming_rule.public_fields_instance_rule.symbols = public_fields_instance_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.public_fields_rule.severity = warning
dotnet_naming_rule.public_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols = public_fields_symbols
dotnet_naming_rule.public_fields_static_override_rule.import_to_resharper = False
dotnet_naming_rule.public_fields_static_override_rule.severity = warning
dotnet_naming_rule.public_fields_static_override_rule.style = upper_camel_case_style
dotnet_naming_rule.public_fields_static_override_rule.symbols = public_fields_static_override_symbols
dotnet_naming_rule.public_fields_static_rule.import_to_resharper = True
dotnet_naming_rule.public_fields_static_rule.resharper_description = PublicFieldsStatic
dotnet_naming_rule.public_fields_static_rule.resharper_guid = 5861a2b4-6430-4fee-8739-c6235442d868
dotnet_naming_rule.public_fields_static_rule.severity = warning
dotnet_naming_rule.public_fields_static_rule.style = lower_camel_case_style
dotnet_naming_rule.public_fields_static_rule.symbols = public_fields_static_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.property_symbols.applicable_accessibilities = *
dotnet_naming_symbols.property_symbols.applicable_kinds = property
dotnet_naming_symbols.property_symbols.resharper_applicable_kinds = property
dotnet_naming_symbols.property_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.property_symbols_1.applicable_accessibilities = *
dotnet_naming_symbols.property_symbols_1.applicable_kinds = property
dotnet_naming_symbols.public_fields_instance_symbols.applicable_accessibilities = local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_instance_symbols.applicable_kinds = field
dotnet_naming_symbols.public_fields_instance_symbols.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.public_fields_instance_symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.public_fields_static_override_symbols.applicable_accessibilities = local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_static_override_symbols.applicable_kinds = field
dotnet_naming_symbols.public_fields_static_override_symbols.required_modifiers = const,static
dotnet_naming_symbols.public_fields_static_symbols.applicable_accessibilities = local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_static_symbols.applicable_kinds = field
dotnet_naming_symbols.public_fields_static_symbols.required_modifiers = static
dotnet_naming_symbols.public_fields_static_symbols.resharper_applicable_kinds = field
dotnet_naming_symbols.public_fields_static_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = true:suggestion
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,bowerrc,jest.config}]
indent_style = space
indent_size = 2

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[*.asmdef]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,c,c++,cc,cginc,compute,cp,cpp,cppm,cshtml,cu,cuh,cxx,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,nuspec,paml,razor,resw,resx,shader,skin,tpp,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[*.cs]
indent_style = space
indent_size = 2
tab_width = 2
